<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Power Level</title>
</head>

<body>
  <h1>Power Level</h1>
  <input type="number" max="100" min="0" [(ngModel)]="powerlevel">
  <div class='row'>
    <app-human [power]="powerlevel"></app-human>
    <app-saiyan [power]="powerlevel"></app-saiyan>
    <app-supersaiyan [power]="powerlevel"></app-supersaiyan>
  </div>
  <div class='row'>
    <app-supersaiyantwo [power]="powerlevel"></app-supersaiyantwo>
    <app-supersaiyanthree [power]="powerlevel"></app-supersaiyanthree>
    <app-supersaiyanfour [power]="powerlevel"></app-supersaiyanfour>
  </div>
</body>

</html>