<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration</title>
  </head>
  <body>
    <h1>Registration</h1>
    <form class="" action="/users" method="post">
      <p><label>Name</label>
      <input type="text" name="name" value=""></p>
      <p><label>Email</label>
      <input type="text" name="email" value=""></p>
      <p><label>Password</label>
      <input type="password" name="password" value=""></p>
      <p><label>Password Confirmation</label>
      <input type="password" name="password_confirmation" value=""></p>
      <p><label>DOB</label>
      <input type="date" name="dob" value=""></p>
      <p> <button type="submit">Register</button> </p>

    </form>
  </body>
</html>
