#switch-wrapper{
	width: 600px;
	text-align: center;
	margin-top: 100px;
}
.switch{
	margin-left: 50px;
	height: 55px;
	width: 55px;
	margin-bottom: 50px;
}
.ON{
	background: limegreen;
}

.OFF{
	background: pink;
}
#barcode-wrapper{
	width: 600px;
	text-align: center;
	margin-top: 100px;
}
.block{
	display: inline-block;
	width: 50px;
	height: 50px;
	
}
#time-wrapper{
	width: 600px;
	text-align: center;
	margin-top: 100px;
}
.inline-btn{
	margin-left: 50px;
	box-shadow: 3px 3px 10px 1px grey;
	height: 55px;
	width: 55px;
	margin-bottom: 50px;
}
.selected{
	background: linear-gradient(to bottom, skyblue, deepskyblue);
	border: none;
	box-shadow: 2px 2px 5px 1px grey;
}