<!DOCTYPE html>
<html>
<head>
	<title>New Bunny</title>
</head>
<body>

<p> Bunnies and Posts | <a href="/">All Bunnies</a> | <a href="/bunny/new">Add Bunny</a> | <a href="/posts">All Posts</a> | <a href="/addpost">Add Post</a> </p>	

<h2>Add a New Bunny</h2>

<form action="/bunnies" method="post"></p>
<p>Name: </p><input type="text" name="name"></p>
<p>Age: </p><input type="text" name="age"></p>
<p>Breed: </p><input type="text" name="breed"></p>
<p>Color: </p><input type="text" name="color"></p>
<input type="submit" value="Add Bunny">
</form>	

</body>
</html>