.container{
	font-family: sans-serif;
	width: 90%;
	height: 750px;
	background-color: rgb(50,80,100);
	border: .01em solid black;
	border-radius: 10px;
	color: rgb(255,200,0);
	text-shadow: black 0.1em 0.1em 0.2em;
	margin: 0em auto 0em auto;
	text-align: center;
}

.main{
	width: 75%;
	height: 75%;
	background-color: RGB(10, 10, 50);
	border: 2pt solid darkgrey;
	border-radius: 10px;
	text-shadow: black 0.1em 0.1em 0.2em;
	margin-left: auto;
	margin-right: auto;
}
