<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo</title>
  </head>
  <body>
    <h4>Welcome to QuotingDojo</h4>
    <form action="/quotes" method="post">
      <label>Your Name:</label>
      <input type="text" name="name">
      <br>
      <br>
      <label>Your Quote:</label>
      <input type="text" name="quote">
      <br>
      <br>
      <button type="submit">Add My Quote!</button>
    </form>
    <a href="/quotes">Skip to quotes!</a>
  </body>
</html>
