<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>

<% include ../partials/header %>


<h3>Welcome, person.</h3>

<p><a href="/users/new">Add a user.</a></p>




<% include ../partials/footer %>

</body>
</html>