<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>

<% include ../partials/header %>

<h3>Register</h3>

<form action="/users" method="post">
<p>First Name: <input type="text" name="firstname"></p>
<p>Last Name: <input type="text" name="lastname"></p>
<p>Date of Birth: <input type="date" name="dob"></p>
<p>Email: <input type="text" name="email"></p>
<p>Password: <input type="text" name="password"></p>
<p>Confirm Password: <input type="text" name="confirmpassword"></p>
<p><input type="submit" value="Register">
</form>	

<% include ../partials/footer %>
</body>
</html>
