<!DOCTYPE html>
<html>
<head>
	<title>New Post</title>
</head>
<body>
<p> Bunnies and Posts | <a href="/">All Bunnies</a> | <a href="/bunny/new">Add Bunny</a> | <a href="/posts">All Posts</a> | <a href="/posts/new">Add Post</a> </p>

<h2>Add a Post</h2>

<form action="/posts" method="post">
<p> Write a post: <input type="textarea" name="text"> </p>
<input type="submit" value="Add Post">
</form>	


</body>
</html>
