<!DOCTYPE html>
<html lang="en">
<head>
    <title>Survey Form</title>
</head>
<body>
    <div>
        <form action="/result" method="post">
            <label> Your Name:</label>
            <input type="text" name="name"/>
            <label> Dojo Location:</label>
            <select name="location">
                <option value="Mountain View">Mountain View</option>
                <option value="San Jose">San Jose</option>
                <option value="Burbank">Burbank</option>
                <option value="Dallas">Dallas</option>
            </select>
            <label > Favorite Language:</label>
            <select name="language">
                <option value="JavaScript">JavaScript</option>
                <option value="MEAN">MEAN</option>
                <option value="RubyonRails">RubyonRails</option>
                <option value="Python">Python</option>
            </select>
            <label>Comment Box:</label>
            <input type="text" name= "comment"/>
            <input type="submit" name= "submit"value="Submit"/>
        </form>
    </div>
</body>
</html>