<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Survey form Info</title>
</head>
<body>
    <div id="background">
        <label>Name</label>
        <%= user.name %>
    </div>
    <div>
        <label>Location</label>
        <%= user.location %>
    </div>
    <div>
        <label>Language</label>
        <%= user.language %>
    </div>
    <div>
        <label>Comment</label>
        <%= user.comment %>
    </div>

</body>
</html>