<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kitten</title>
</head>
<body>
    <h1>Edit a Kitten</h1>
    <form action='/litter/<%= data %>' method='post'>
        <input type='text' name='name' placeholder='Name'>
        <input type='text' name='color' placeholder='Color'>
        <input type='text' name='gender' placeholder='Gender'>        
        <button type='submit'>Fluff me</button>
    </form>
</body>
</html>