<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokemon Dashboard</title>
  </head>
  <body>
    <form action="/pokemons" method="post">
      <label>Name:</label>
      <input type="text" name="name">
      <br>
      <br>
      <label>Type:</label>
      <input type="text" name="type">
      <br>
      <br>
      <label>Category:</label>
      <input type="text" name="category">
      <br>
      <br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
