<html>
    <head>
       <title>Dojo Survey</title>
    </head>
    <body>
      <form action='/submit' method='post'>
          Your Name: <input type="text" name='name'>
          Dojo Location: <select name="location">
            <option value="SJ">SJ</option>
            <option value="DFW">DFW</option>
        </select>
          Favorite Language: <select name="language">
              <option value = "python">Python</option>
              <option value = 'cheese'>Cheese</option>
              </select>
          Comment:<input type="textarea" name="comment">
            <input type ="submit">
      </form>
    </body>
</html>