<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<form method="post" action="/process">
		<div>
			<label for="name">Your Name: </label>
			<input type="text" name="name" id="name"/>
		</div>
		<div>
			<label for="location">location</label>
			<input type="text" name="location" id="location"/>
		</div>
		<div><label for="language">Favorite LAnguage</label><select name="language" id="language">
				<option >Python</option>
				<option >Javascript</option>
				<option >Java</option>
				<option >Ruby</option>
			</select>
		</div>
		<div>
			<label for="comment">COmment (optional):</label>
			<br/>
			<textarea name="comment" id="comment" cols="30" rows="10"></textarea>
		</div>
		<button type="submit">Sumbit</button>
		
		
	</form>
</body>
</html>