<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>result</title>
</head>
<body>
	<h2>Name:</h2>
		<p><%= name %></p>
	
	<h2>Location:</h2>
		<p><%= location %></p>
	
	<h2>Language:</h2>
		<p><%= language %></p>
	
	<h2>Comment:</h2>
		<p><%= comment %></p>


</body>
</html>