<form action='/users/doSomething' method='post'>
    Name: <input type='text' name='name'>
    Email: <input type='text' name='email'>
    <input type='submit' value='create user'>
</form>
<button><a href='/users/8'>TO USER 8</a></button>