<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
    <link rel="stylesheet" href="survey.css">
</head>
<body>
    <form action="/submit" method="post">
        <p>Your Name: <input type="text" name="name"></p>
        <p>Dojo Location: <select name="location">
            <option>San Jose</option>
            <option>Dallas</option>
            <option>Seattle</option>
        </select></p>
        <p>Favorite Langauge: <select name="language">
            <option>Javascript</option>
            <option>Python</option>
            <option>Klingon</option>
        </select></p>
        <p>Comment (optional):</p>
        <textarea name="comment"></textarea>
        <input type="submit" value="Submit">
    </form>
</body>
</html>