<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
    <link rel="stylesheet" href="survey.css">
</head>
<body>
    <div id="result">
        <h1>Submitted Information</h1>
        <p>Name: <%= data.name %></p>
        <p>Dojo Location: <%= data.location %></p>
        <p>Favorite Language: <%= data.language %></p>
        <p>Comment: <%= data.comment %></p>
    </div>
</body>
</html>