<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <title>New Bat</title>
     </head>
     <body>
       <h1>Add a Bat!</h1>
          <form action="/bats"  method="post">
            <label>Name: </label>
            <input type="text" name="name">
            <p></p>
            <label>Weight: </label>
            <input type="text" name="weight">
            <p></p>
            <label>Color: </label>
            <input type="text" name="color">
            <p></p>
            <input type="submit" value="Add a Bat!">
            <a href="/"><button type="button" name="button">See all Bats</button></a>

          </form>
          </body>
</html>
