<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basic Mongoose</title>
  </head>
  <body>
    <h4>User Information:</h4>
    <ul>
      <li>Name: <%= user.name %></li>
      <li>Age: <%= user.age %></li>
    </ul>
    <a href="/"><h3>Back</h3></a>
  </body>
</html>
