<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<style type="text/css">
		span{
			display: inline-block;
			width: 100px;
			margin-top: 5px;
		}
		input{
			width: 150px;
		}
		.error{ color: red;}
	</style>
</head>
<body>
	<h1>Register</h1>
	<form action="<%= router('create_user') %>" method="post">
		<span>First Name:</span> <input type="text" name="first_name" id="first_name"/>
		<br/>
		<span>Last Name:</span> <input type="text" name="last_name" id="last_name"/>
		<br/>
		<span>Email:</span> <input type="text" name="email" id="email"/>
		<br/>
		<span>Birthday:</span> <input type="date" name="birthday" id="birthday"/>
		<br/>
		<span>Password:</span> <input type="password" name="password" id="password"/>
		<br/>
		<span>Password: Confirmation</span> <input type="password" name="password_confirmation" id="password_confirmation"/>
		<button type="submit">Submit</button>
		<% if (errors) { %>
			<% for (var x in errors) { %>
				<p class="error"><%= errors[x].message %></p>
			<% } %>
		<% } %>
	</form>
	<br/>
	<button onclick='location="<%= router('login') %>"'>Goto Login</button>
</body>
</html>