<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuotingDojo</title>
    <link rel="stylesheet" href="quotes.css">
</head>
<body>
    <h1>Welcome to QuotingDojo</h1>
    <form action="/add_quote" method="post">
        <p>Your name: <input type="text" name="name"></p>
        <p>Your quote: <textarea name="quote"></textarea></p>
        <% if (typeof(errors) != 'undefined') { %>
            <% for (var x in errors) { %>
                <p class="error"><%= errors[x].message %></p>
            <% } %>
        <% } %>
        <input type="submit" value="Add my quote!"><button><a href="/quotes">Skip to quotes!</a></button>
    </form>
</body>
</html>