<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <title></title>
     </head>
     <body>
          <p>Submitted Information</p>
          <p>Name: <%= user.name %></p>
          <p>Location: <%= user.location %></p>
          <p>Language: <%= user.language %></p>
          <p>Comment: <%= user.comment %></p>

     </body>
</html>
