<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Car</title>
</head>
<body>
    <h1>Add a New Car!</h1>
    <form>
        <p>Make: <input type='text' name='make'></p>
        <p>Model: <input type='text' name='model'></p>
        <p>Year: <input type='number' name='year'></p>
        <input type='submit' value='Add Car!'>
    </form>
</body>
</html>