* {
    margin:0px;
    padding:0px;
}

h1{
    color: purple;
}
h3{ 
    color:blue;
}
button{
    padding:5px 10px 5px 10px;
    margin:20px 5px 20px 5px;
}
.current{
    background-color: lightcoral;
}