<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="index.css">
		<meta charset="utf-8">
		<title>Great Number Game</title>
	</head>
	<body>
		<div class="container">
			<h1>Welcome to the Great Number Game!</h1>
			<div class="main">
				<h2>I am thinking of a number between 1 and 100</h2>
				<h2>Take a guess!</h2>
				<form action="calculate" method="post">
					<input type="number" min=1 max=100 name="guess">
					<button type="submit">Submit</button>
				</form>
			</div>
		</div>
	</body>
</html>
