<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
<body>
    <form action='/process' method='POST'>
        <input name='name' type='text' placeholder='Name'>
        Dojo Location:
        <select name="location" placeholder='Dojo Location'>
            <option value="San Jose">San Jose</option>
            <option value="Dallas">Dallas</option>
            <option value="Tulsa">Tulsa</option>
        </select>
        Favorite Language:
        <select name="language" placeholder='Favorite Langauge'>
            <option value="Javascript">Javascript</option>
            <option value="Python">Python</option>
            <option value="Ruby">Ruby</option>
            <option value="Java">Java</option>
        </select>
        <textarea name="comment" cols="30" placeholder='Comment (optional)'></textarea>
        <button type='submit' value='Submit'>Submit</button>
    </form>
</body>
</html>