<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Success</title>
    </head>
    <body>
        <h3>Success!</h3>
        <p>Name: <%= name %></p>
        <p>Dojo Location: <%= dojo %></p>
        <p>Favorite Language: <%= language %></p>
        <p>Comment: <%= comment %></p>
        <form action="/goBack" method='post'>
            <button type="submit" value="Go Back">Go Back</button>
        </form>
    </body>
</html>