<!DOCTYPE html>
<head>
    <title>Animal Input</title>
</head>
<body>
    <h1>WHO ARE YOU</h1>
    <form action='/animals' method='post'>
        Name: <input type ="text" name="name">
        Color: <input type="text" name="color">
        <input type='submit'>
    </form>
</body>
</html>