<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
    <h1>Edit #<%= puppy.name %>!</h1>
    <form action="/result" method='post'>
    Name: <input type="text" name="name" value="<%= puppy.name %>">
    About: <input type="text" name="about" value="<%= puppy.about %>">
    Color: <input type="text" name="color" value="<%= puppy.color %>">
    <input type="submit" value="Edit Puppy!">
    </form>
    <a href="/show">Home</a>
</body>
</html>