<!DOCTYPE html>
<head>
    <title>Quote Input</title>
</head>
<body>
    <h1>INPUT YOUR QUOTE</h1>
    <form action='/post' method='post'>
        Your Name: <input type ="text" name="name">
        Quote: <input type="text" name="quote">
        <input type='submit'>
    </form>
    <button><a href='/result'>skip to results</a></button>
</body>
</html>